<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WristAssist">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".complication.ComplicationDataSourceService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE,MONOCHROMATIC_IMAGE,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.SavedChatsActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.EditChatActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.ImageActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.CreateImageActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.OpenImageActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.QRCodeActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.UsageActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.InputActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.ChangelogActivity"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>